
.pagination>li.active>a:hover,.pagination>li>a:focus{

	background-color: #227bff !important;
	color: white !important;
}
.pagination>li>a:focus{

	/*background-color:  !important;*/
	color: white !important;
}