.typeahead { 
	border: 2px solid #FFF;
	border-radius: 4px;
	max-width: 300px;
	min-width: 290px;
	background: rgba(230,230,230, 0.8);
}
.tt-menu { width:300px; }
ul.typeahead{
	margin:0px;
	padding:5px 0px;
}
ul.typeahead.dropdown-menu li a {
	border-bottom:#CCC 1px solid;
}
ul.typeahead.dropdown-menu li:last-child a { 
	border-bottom:0px !important; }
.bgcolor {
	max-width: 550px;min-width: 290px;
	max-height:340px;
	padding: 100px 10px 130px;
	border-radius:4px;
	text-align:center;
	margin:10px;
}
.demo-label {font-size:1.5em;color: #686868;font-weight: 500;color:#FFF;}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	text-decoration: none;
	background-color: #ccc;
	outline: 0;
}

/*Invoice table*/
.invoice-table input[type='text'],.invoice-table input[type='number']{
	border: none;
}
.invoice-table tfoot{
	border-top: 2px solid #666;
}


.bb-2{
	border-bottom: 2px solid #aaa;
}
.bt-2{
	border-top: 2px solid #aaa;
}
td>.btn-sm{
    padding: .01rem .3rem;
    font-size: .75rem;
}

td>.inv-btn:focus{
	/*border: 2px solid #34c;*/
	box-shadow: 2px 5px 4px rgba(22,22,22,0.9) !important;
}
.div-form-control{
	/*height: calc(1.8125rem + 2px);*/
    padding: 0px !important;
}
.div-form-control>select{
	width: 100% !important;
	border: none;
}
.div-form-control .select2{
	/*height: 100%;*/
}

.invoice-table input{ font-size: 0.8rem !important; }
.invoice-table thead>tr>th{ padding: 5px 15px; }
.invoice-table tbody>tr>td>select{ width: 100%; }
.invoice-table tbody>tr>td .select2-container--default{ margin-right: 0px !important; }
.invoice-table tbody>tr>td .select2-container{ width: 100% !important; }
.invoice-table tbody>tr>td .select2-selection__rendered{
	line-height: calc(1.5em + 0.9rem) !important;
	padding-right: 5px !important;
}
.invoice-table tbody>tr>td .select2-selection--single{ 
	height: calc(1.5em + 0.7rem + 2px) !important;	
}

.invoice-table tbody>tr>td:nth-child(1){ min-width: 180px;}
.invoice-table tbody>tr>td:nth-child(2){ min-width: 70px;}
.invoice-table tbody>tr>td:nth-child(3){ min-width: 70px;}
.invoice-table tbody>tr>td:nth-child(4){ min-width: 100px;}
.invoice-table tbody>tr>td:nth-child(5){ min-width: 80px;}
.invoice-table tbody>tr>td:nth-child(6){ min-width: 60px;}
.invoice-table tbody>tr>td:nth-child(7){ min-width: 50px;}
/*.invoice-table tbody>tr>td:nth-child(8){ width: 6%; }*/


.invoice-page{
	page-break-after: always;
}

.stock_rows>tr>td:nth-child(1){	min-width: 200px;	}
.stock_rows>tr>td:nth-child(2){	min-width: 80px;	}
.stock_rows>tr>td:nth-child(3){	min-width: 100px;	}
.stock_rows>tr>td:nth-child(4){	min-width: 100px;	}
.stock_rows>tr>td:nth-child(5){	min-width: 100px;	}
.stock_rows>tr>td:nth-child(6){	min-width: 60px;	}
.stock_rows>tr>td:nth-child(7){	min-width: 50px;	}

@media print {
    
	.invoice{

		/*margin: 50px;*/
		padding-left: 30px;
		padding-right: 220px;
		padding-top: 40px;


		font-size: 0.9rem;
		color: #000 !important;
	}
	.invoice input{
		font-size: 0.9rem;
		color: #000 !important;

	}

} 






